<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand brand" href="/">MathWorld</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link btn btn-warning text-dark ms-lg-3" href="/signin">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>
